---
import { format } from "date-fns";
import getReadingTime from "reading-time";
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Oh Yeah - A blog by Jaime Abbariao">
  <main>
    <div class="about">
      <p>
        Hi there. I'm <a
          href="https://github.com/ja153903"
          class="github-link"
          target="_blank">Jaime Abbariao</a
        >
      </p>
      <p>I try to write about JavaScript to teach it to myself</p>
    </div>
    <div class="posts">
      <ul>
        {
          posts.map((post) => (
            <li class="post">
              <a class="post-title-url" href={`/posts/${post.slug}`}>
                {post.data.title}
              </a>
              <p class="post-date">
                {format(post.data.date, "MMM d, y")} •{" "}
                {getReadingTime(post.body).text}
              </p>
              <p class="post-description">{post.data.description}</p>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .description {
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  .github-link {
    color: #153450;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .posts {
    padding-top: 20px;
  }

  p {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
  }

  .posts {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .post {
    display: flex;
    flex-direction: column;
  }

  .post-date {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  .post-description {
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }

  .post-title-url {
    color: #153450;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
  }
</style>
