---
---

<script>
  // TODO: Definitely should think about improving on this style-wise later
  // NOTE: Found this code at: https://jordemort.dev/blog/adding-copy-buttons-to-code-blocks/
  const codeBlocks = document.querySelectorAll("pre");

  codeBlocks.forEach((block) => {
    if (navigator.clipboard) {
      let div = document.createElement("div");
      div.classList.add("code-buttons");

      let button = (
        document.getElementById("copyButtonTemplate") as HTMLTemplateElement
      ).content.firstElementChild;
      if (button !== null) {
        button = button.cloneNode(true) as HTMLButtonElement;
        button.addEventListener("click", makeCopier(block));
        div.appendChild(button);
        if (block?.parentNode) {
          block.parentNode.insertBefore(div, block);
        }
      }
    }
  });

  function makeCopier(block: HTMLElement) {
    let code = block.querySelector("code");

    async function copier() {
      if (code) {
        await navigator.clipboard.writeText(code.innerText);
      }
    }

    return copier;
  }
</script>

<template id="copyButtonTemplate">
  <button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <title>Copy to clipboard</title>
      <path
        fill-rule="evenodd"
        d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"
      ></path>
      <path
        d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"
      ></path>
    </svg>
  </button>
</template>

<style is:global>
  .code-buttons {
    position: relative;
    width: 100%;
    overflow: visible;
  }

  .code-buttons button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
    border: 1px solid #f4d6bc;
    border-radius: 5px;
    background-color: #153450;
    color: #f4d6bc;
    transition: all 0.2s;
    opacity: 0.2;
    cursor: pointer;
  }

  .code-buttons button:hover {
    opacity: 1;
  }

  .code-buttons button svg {
    height: 24px;
    width: 24px;
    margin: auto;
    stroke: #f4d6bc;
    fill: #f4d6bc;
    transition: all 0.2s;
  }

  .code-buttons button.clicked {
    border: 1px solid #f4d6bc;
    color: #0f0;
  }

  .code-buttons button.clicked svg {
    stroke: #f4d6bc;
    fill: #f4d6bc;
  }
</style>
