---
---

<script>
  const defaultCopySvg = `<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM112 192H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>`;
  const copiedSvg = `<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM305 273L177 401c-9.4 9.4-24.6 9.4-33.9 0L79 337c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L271 239c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>`;

  // NOTE: Found this code at: https://jordemort.dev/blog/adding-copy-buttons-to-code-blocks/
  const codeBlocks = document.querySelectorAll("pre");

  codeBlocks.forEach((block) => {
    if (navigator.clipboard) {
      let div = document.createElement("div");
      div.classList.add(`code-buttons`);

      let button = (
        document.getElementById("copyButtonTemplate") as HTMLTemplateElement
      ).content.firstElementChild;
      if (button !== null) {
        button = button.cloneNode(true) as HTMLButtonElement;
        button.addEventListener("click", makeCopier(block));

        const svg = button.querySelector("svg");
        let timeoutId: number;

        button.addEventListener("click", () => {
          clearTimeout(timeoutId);

          if (svg !== null) {
            svg.innerHTML = copiedSvg;
            timeoutId = setTimeout(() => {
              svg.innerHTML = defaultCopySvg;
            }, 500);
          }
        });

        div.appendChild(button);
        if (block?.parentNode) {
          block.parentNode.insertBefore(div, block);
        }
      }
    }
  });

  function makeCopier(block: HTMLElement) {
    let code = block.querySelector("code");

    async function copier() {
      if (code) {
        await navigator.clipboard.writeText(code.innerText);
      }
    }

    return copier;
  }
</script>

<template id="copyButtonTemplate">
  <button>
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"
      ><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
      <path
        d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM112 192H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
      ></path></svg
    >
  </button>
</template>

<style is:global>
  .code-buttons {
    position: relative;
    width: 100%;
    overflow: visible;
  }

  .code-buttons button {
    position: absolute;
    padding: 5px;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
    border: 1px solid #f4d6bc;
    border-radius: 5px;
    background-color: #153450;
    color: #f4d6bc;
    transition: all 0.2s;
    opacity: 0.8;
    cursor: pointer;
  }

  .code-buttons button:hover {
    opacity: 1;
  }

  .code-buttons button svg {
    height: 16px;
    width: 16px;
    margin: auto;
    stroke: #f4d6bc;
    fill: #f4d6bc;
    transition: all 0.2s;
  }

  .code-buttons button.clicked {
    border: 1px solid #f4d6bc;
    color: #0f0;
  }

  .code-buttons button.clicked svg {
    stroke: #f4d6bc;
    fill: #f4d6bc;
  }
</style>
