<button id="scroll-to-top" hidden>Back to the top</button>

<script>
  const scrollToTopButton = document.getElementById("scroll-to-top");
  if (scrollToTopButton) {
    document.addEventListener("scroll", () => {
      scrollToTopButton.hidden = document.documentElement.scrollTop === 0;
    });

    scrollToTopButton.addEventListener("click", () => {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    });
  }
</script>

<style>
  #scroll-to-top {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    padding: 20px 0;

    text-align: center;
    cursor: pointer;

    text-decoration: underline;

    font-weight: 800;

    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
</style>
