---
import BaruchSyllabusLayout from "../../../layouts/BaruchSyllabusLayout.astro";
import { Content as Syllabus } from "../../../content/baruch-mth3300/syllabus.md";
---

<BaruchSyllabusLayout
  title="MTH 3300 - Algorithms, Computers, and Programming I"
  year="spr2025"
>
  <main>
    <Syllabus />
  </main>
</BaruchSyllabusLayout>
