---
import Layout from "./Layout.astro";

const { title, year } = Astro.props;
---

<Layout title={title}>
  <div class="layout-child">
    <h2>{title}</h2>
    <div class="links">
      <strong>Course links:</strong>
      <a href=`/baruch-mth3300/${year}/problem-sets`> Problem Sets</a>
    </div>
    <slot />
  </div>
</Layout>

<style>
  .layout-child {
    margin-top: -10px;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    padding-bottom: 10px;

    & > a {
      color: #153450;
      font-weight: 500;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
</style>
