---
import "@fontsource-variable/montserrat";
import "@fontsource-variable/jetbrains-mono";

import NavBar from "../components/NavBar.astro";
import ScrollToTopButton from "../components/ScrollToTopButton.astro";
import CopyToClipboardButton from "../components/CopyToClipboardButton.astro";

export interface Props {
  NavBarProps?: {
    customSize?: string;
    customColor?: string;
  };
  title: string;
}

const { title, NavBarProps } = Astro.props;
const { customColor = "#000", customSize = "2.5rem" } = NavBarProps || {};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A Blog by Jaime Abbariao" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar customColor={customColor} customSize={customSize} />
    <div class="links">
      <a href="/">Home</a>
      <a href="/baruch-mth3300/spr2025"
        >Baruch College - MTH 3300 (Spring 2025)</a
      >
    </div>
    <CopyToClipboardButton />
    <slot />
    <footer>
      <ScrollToTopButton />
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  body {
    font-family: Montserrat Variable, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0 25dvw;
  }

  @media (max-width: 1250px) {
    body {
      padding: 0 15dvw;
    }
  }

  @media (max-width: 450px) {
    body {
      padding: 0 5dvw;
    }
  }

  html {
    background-color: #f4d6bc;
  }

  pre {
    padding: 1.3rem;
    border-radius: 5px;
  }

  code {
    font-family: JetBrains Mono Variable, Menlo, Monaco, Lucida Console,
      Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
      monospace;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 8px;

    padding-bottom: 20px;

    & > a {
      color: #153450;
      font-weight: 500;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
</style>
