---
import NavBar from "../components/NavBar.astro";

export interface Props {
  NavBarProps?: {
    customSize?: string;
    customColor?: string;
  };
  title: string;
}

const { title, NavBarProps } = Astro.props;
const { customColor = "#000", customSize = "2.5rem" } = NavBarProps || {};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar customColor={customColor} customSize={customSize} />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  body {
    display: flex;
    flex-direction: column;
    padding: 0 25vw;

    @media (max-width: 1250px) {
      padding: 0 15vw;
    }

    @media (max-width: 450px) {
      padding: 0 5vw;
    }
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f4d6bc;
  }
  pre {
    padding: 1rem;
    border-radius: 5px;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
